WCF_Labbar/DeathOfJanuary_Client/Service References/DeathOfJanuaryServiceReference/DeathOfJanuaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeathOfJanuary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputVal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeathOfJanuaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeathOfJanuaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DeathOfJanuarySoapIn">
    <wsdl:part name="parameters" element="tns:DeathOfJanuary" />
  </wsdl:message>
  <wsdl:message name="DeathOfJanuarySoapOut">
    <wsdl:part name="parameters" element="tns:DeathOfJanuaryResponse" />
  </wsdl:message>
  <wsdl:portType name="DeathOfJanuaryServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeathOfJanuary">
      <wsdl:input message="tns:DeathOfJanuarySoapIn" />
      <wsdl:output message="tns:DeathOfJanuarySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeathOfJanuaryServiceSoap" type="tns:DeathOfJanuaryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeathOfJanuary">
      <soap:operation soapAction="http://tempuri.org/DeathOfJanuary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeathOfJanuaryServiceSoap12" type="tns:DeathOfJanuaryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeathOfJanuary">
      <soap12:operation soapAction="http://tempuri.org/DeathOfJanuary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeathOfJanuaryService">
    <wsdl:port name="DeathOfJanuaryServiceSoap" binding="tns:DeathOfJanuaryServiceSoap">
      <soap:address location="http://localhost:42477/DeathOfJanuaryService.asmx" />
    </wsdl:port>
    <wsdl:port name="DeathOfJanuaryServiceSoap12" binding="tns:DeathOfJanuaryServiceSoap12">
      <soap12:address location="http://localhost:42477/DeathOfJanuaryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>